{% extends 'base.html.twig' %}

{% block title %}Providence-Bundle demo{% endblock %}

{% block content %}

    <h1>{{ '' }}</h1>

    <div class="example-wrapper">

        This friendly message is coming from:
        <ul>
            <li>Your controller at <code><a href="{{ '/home/tac/survos/demos/providence-demo/src/Controller/ProfileController.php'|file_link(0) }}">src/Controller/ProfileController.php</a></code></li>
            <li>Your template at <code><a href="{{ '/home/tac/survos/demos/providence-demo/templates/profile/show.html.twig'|file_link(0) }}">templates/profile/index.html.twig</a></code></li>
        </ul>
    </div>
{% endblock %}
