<li class="nav-item dropdown">
    <a href="#" class="dropdown-toggle nav-link p-0 d-flex align-items-center" data-bs-toggle="dropdown">
        <div class="d-inline-block nav-icon">
            <i class="uil uil-user"></i>
            Profiles
        </div>
        <div class="d-none d-xl-inline-block">
                <div>Profiles</div>
                <div class="small text-muted">something</div>
        </div>
    </a>
    <div class="dropdown-menu dropdown-menu-end">
            <a href="{{ path('app_homepage') }}" class="dropdown-item">
                <i class="mdi mdi-account-outline me-1"></i>
                <span>{{ 'Home' | trans }}</span>
            </a>
            <div class="dropdown-divider"></div>
            HINCLUDE the profiles
{#        <a href="{{ admin.logoutPath() }}" class="dropdown-item">#}
{#            <span>{{ 'label.sign_out' | trans }}</span>#}
{#        </a>#}
    </div>
</li>
